<div>
  <h1 [ngClass]="success">dùng cú pháp [] để binding các class</h1>
  <h1 [ngClass]="success">dùng cú pháp [] để binding các class</h1>
  <h1 [ngClass]="success">dùng cú pháp [] để binding các class</h1>
  <h1 [ngClass]="success">dùng cú pháp [] để binding các class</h1>
  <h1 [ngClass]="success">dùng cú pháp [] để binding các class</h1>
</div>

<div>
  <h2 class="{{primary}}" [innerText]="'dùng cú pháp {{}} để binding các class'"></h2>
  <h2 class="{{primary}}" [innerText]="'dùng cú pháp {{}} để binding các class'"></h2>
  <h2 class="{{primary}}" [innerText]="'dùng cú pháp {{}} để binding các class'"></h2>
  <h2 class="{{primary}}" [innerText]="'dùng cú pháp {{}} để binding các class'"></h2>
  <h2 class="{{primary}}" [innerText]="'dùng cú pháp {{}} để binding các class'"></h2>
</div>

<h3 [ngClass]="complexity">Tiến hành định nghĩa tên biến 
  trong .ts và binding trong html để sử dụng class “.text-complexity” này.
  </h3>
