<table border="1" [cellPadding]="0" [cellSpacing]="0">
  <tr>
    <td colspan="2" style="background-color: aquamarine;text-align: center;">Giải phương trình bậc 2 online</td>
  </tr>
  <tr>
    <td>Hệ số a</td>
    <td><input type="number" [(ngModel)]="quadraticEquation.a" #varA></td>
  </tr>
  <tr>
    <td>Hệ số b</td>
    <td><input type="number" [(ngModel)]="quadraticEquation.b" #varB></td>
  </tr>
  <tr>
    <td>Hệ số c</td>
    <td><input type="number" [(ngModel)]="quadraticEquation.c" #varC></td>
  </tr>
  <tr>
    <td>Kết quả</td>
    <td>
      <p>{{result}}</p>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <button (click)="setResult()">Giải phương trình</button>
      <button (click)="clear()">Xóa trắng</button>
    </td>
  </tr>
</table>
