<div class="container mt-4">
  <div class="card" style="width: 18rem">
    <div class="card-header">Login System</div>
    <div class="card-body">
      <form action="/auth/register" method="POST">
        <div class="mb-3">
          <label for="name-reg" class="form-label">User Name:</label>
          <input
            type="text"
            class="form-control"
            id="name-reg"
            name="name"
            [(ngModel)]="username"
          />
        </div>
        <div class="mb-3">
          <label for="password-reg" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password-reg"
            name="password"
            [(ngModel)]="password"
          />
        </div>

        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>
</div>
