<div class="container-fluid mt-2">
  <h3 class="text-center text-white bg-dark">New Fashion</h3>
  <p>{{ errMessage }}</p>
  <h1 class="text-danger">{{ notification }}</h1>
  <div class="d-flex flex-row">
    <table>
      <tr>
        <td>Fashion Style:</td>
        <td>
          <input
            type="text"
            class="form-control"
            #name="ngModel"
            name="style"
            id="style"
            placeholder="Nhập Style"
            [(ngModel)]="fashion.style"
          />
        </td>
      </tr>
      <tr>
        <td>Fashion Subject:</td>
        <td>
          <input
            type="text"
            class="form-control"
            #name="ngModel"
            name="fashion_subject"
            id="fashion_subject"
            placeholder="Nhập Subject"
            [(ngModel)]="fashion.fashion_subject"
          />
        </td>
      </tr>
      <tr>
        <td>Fashion Detail:</td>
        <td>
          <input
            type="text"
            class="form-control"
            #name="ngModel"
            name="fashion_detail"
            id="fashion_detail"
            placeholder="Nhập Detail"
            [(ngModel)]="fashion.fashion_detail"
          />
        </td>
      </tr>
      <tr>
        <td>Fashion Image:</td>
        <td>
          <input
            type="file"
            class="file-input"
            name="fashion_image"
            id="fashion_image"
            (change)="onFileSelected($event, fashion)"
          />
        </td>
      </tr>
      <tr>
        <td>
          <button (click)="postFashion()">Submit</button>
        </td>
        <td>
          <button (click)="onReturn()">Return to Fashion List</button>
        </td>
      </tr>
    </table>
    <img
      [src]="fashion.fashion_image"
      alt="Please choose an image"
      width="200px"
      height="200px"
      class="ms-5"
    />
  </div>
  <h1>TinyMCE for Fashion Detail</h1>
  <editor
    [(ngModel)]="fashion.fashion_detail"
    [init]="{
      base_url: '/tinymce',
      suffix: '.min'
    }"
  ></editor>
</div>
