<p>binding-event works!</p>
<button (click)="onClick($event)">Click Me</button>
Name:
<input type="text" #myName />
<button (click)="onSubmit(myName.value)">Submit</button>
<hr />
<div>
  Nhập số a
  <input [(ngModel)]="firstInput" type="text" #variableA />
  Nhập số b
  <input [(ngModel)]="secondInput" type="text" #variableB />
  <div style="display: flex; flex-direction: row; width: 40%;">
    <button (click)="onPlus(variableA.value, variableB.value)">
      Button cộng
    </button>
    <button (click)="onMinus(variableA.value, variableB.value)">
      Button trừ
    </button>
    <button (click)="onMultiple(variableA.value, variableB.value)">
      Button nhân
    </button>
    <button (click)="onDivide(variableA.value, variableB.value)">
      Button chia
    </button>
    <!-- <button (click)="onReset()">Button xóa trắng</button> -->
    <button (click)="variableA.value='';variableB.value=''">Button xóa trắng</button>
  </div>
</div>
