<p>books works!</p>
{{ errMessage }}
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>BookId</th>
      <th>BookName</th>
      <th>Price</th>
      <th>Image</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let book of books">
      <td>{{ book.BookId }}</td>
      <td>{{ book.BookName }}</td>
      <td>{{ book.Price }}</td>
      <td>
        <img
          src="assets/book_images/{{ book.Image }}"
          width="50px"
          height="50px"
        />
      </td>
    </tr>
  </tbody>
</table>
